<div id="map"></div>
<div id="Info"></div>

<div id="dialoge">
    <input type="date" name="startD" id="startD" [(ngModel)]="cusStartD">
    <select name="time" id="startTime">
        <option value="00:00:00">00:00:00</option>
        <option value="01:00:00">01:00:00</option>
        <option value="02:00:00">02:00:00</option>
        <option value="03:00:00">03:00:00</option>
        <option value="04:00:00">04:00:00</option>
        <option value="05:00:00">05:00:00</option>
        <option value="06:00:00">06:00:00</option>
        <option value="07:00:00">07:00:00</option>
        <option value="08:00:00">08:00:00</option>
    </select>
    <input type="date" name="endD" id="endD" [(ngModel)]="cusEndD">
    <select name="time" id="endTime">
        <option value="00:00:00">00:00:00</option>
        <option value="01:00:00">01:00:00</option>
        <option value="02:00:00">02:00:00</option>
        <option value="03:00:00">03:00:00</option>
        <option value="04:00:00">04:00:00</option>
        <option value="05:00:00">05:00:00</option>
        <option value="06:00:00">06:00:00</option>
        <option value="07:00:00">07:00:00</option>
        <option value="08:00:00">08:00:00</option>
    </select>
    <br>
    <br>
    <span id="error"></span>
    <button id="getGraph">Get</button>
</div>

